<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>简历</title>
  <link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
    <title>Designs by Laighlin</title>
</head>
<body onload="draw()">

    <canvas id="bg"></canvas>
    <main id="content">

        <h1>
            <div class="hex moved"></div><span>关于开发</span></h1>
        <div class="subtext" id="main">
            <p>我叫是{{person.last_name}}{{person.first_name}} ，来自于{{person.address}} .我是一个24岁的湖师设计专业的学生，有技术背景，有很多关于当代设计世界的趋势和方向。</p>
            <p>我一生大部分时间都想当工程师。到我改变主意的时候，我与应用科学的联系已经彻底改变了我的世界观。这仍然影响着我的工作和职业道德——在我看来，设计和物理或计算机一样，都是一门科学。（换句话说，只要我是一个书呆子，我就喜欢设计。）</p>
        </div>
        <h2>
            <div class="hex"></div><span>技能</span></h2>
        <div class="subtext coll">
           良好的面向对象编程和计算相关数学作为一个整体。精通CSS3和HTML5;在JavaScript和JQuery方面取得了重大进展。<i>Putty.</i>除了编程知识，我还会说五种人类语言，而且我还在学习更多的语言。
        </div>
        <h2>
            <div class="hex"></div><span>爱好和兴趣</span></h2>
        <div class="subtext coll">
            小型独立编码项目、音乐、打篮球、游泳、打游戏、喜欢和他人合作，喜欢结交朋友。对未知的东西很好奇，拥有够独立思考和探索的能力。
        </div>
        <h2>
            <div class="hex"></div><span>工作经历</span></h2>
        <div class="subtext coll">
            {% for experience in person.experiences %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ experience.title }}</h3>
                            <div class="time">{{ experience.timeframe }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ experience.company }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ experience.description }}</p>
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}
        </div>
        <h2>
            <div class="hex"></div><span>教育经历</span></h2>
        <div class="subtext coll">
           {% for diploma in person.education %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ diploma.degree }}</h3>
                            <div class="time">{{ diploma.timeframe }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ diploma.university }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ diploma.description }}</p>
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}
        </div>


        <h2>
            <div class="hex"></div><span>了解我</span></h2>
        <div class="subtext coll">
            <a>Twitter</a> | <a>Tumblr</a> | <a>Codepen</a> | <a>Behance</a>
        </div>

        <h2>
            <div class="hex"></div><span>联系我</span></h2>
        <div class="subtext coll">
            <ul>
                <li>电话: {{person.tel}}</li>
                <li>邮箱: <a>{{person.email}}</a></li>
                <li><img src="{{ url_for('static', filename='img/img.jpg') }}" alt="" /></li>
            </ul>
        </div>
         <h2>
            <div class="hex"></div><span>数据可视化分析经历</span></h2>
        <div class="subtext coll">
           <p><a href="{{url_for('index')}}" target="_blank">有关企鹅数据的分析</a></p>
        </div>

    </main>
    <div><h2><font color="red" >简历模板来源：https://freefrontend.com/html-resume-templates/</font></h2></div>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="one"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="two"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
    <div id="hex-holder">
        <div class="hex" id="uno"></div>
        <div class="hex" id="dos"></div>
        <div class="hex" id="tres"></div>
    </div>

</body>

</html>
<!-- partial -->
  <script  src="static/script.js"></script>

</body>
</html>
